<div class="wrapper">
    <div class="section" style="background-color: chocolate">
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-6 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/A.jpg" alt="Rounded Image" class="img-rounded img-responsive">                        
                    </a>
                </div>
                <div class="col-md-6 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/B.jpg" alt="Rounded Image" class="img-rounded img-responsive">                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
