<div class="wrapper">
    <div class="section" style="background-color: chocolate">
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/A.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/B.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/C.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/D.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/E.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/F.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/G.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/H.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/I.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/J.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/K.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="col-md-2 text-center" routerLinkActive="active">
                    <a [routerLink]="['/hangman']">
                        <img src="./assets/img/libras/alphabet/L.jpg" alt="Rounded Image"
                            class="img-rounded img-responsive">
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/M.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/N.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/O.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/P.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/Q.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/R.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/S.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/T.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/U.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/V.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/X.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                    <div class="col-md-2 text-center" routerLinkActive="active">
                        <a [routerLink]="['/hangman']">
                            <img src="./assets/img/libras/alphabet/Z.jpg" alt="Rounded Image"
                                class="img-rounded img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>