.row{
    padding-top: 10px
}
.container{
    color: azure;
}
.letters-list{
    display: contents;
}
.letter img{
    min-width: 70px;
    max-width: 80px;
    margin-left: 5px;
    max-height: 80px;
    min-height: 70px;
    margin-top: 5px;
}
.letter-selected{
    opacity: 0.5; 
}
.selected-letter{
    min-width: 200px;
    max-width: 220px;
    min-height: 200px;
    max-height: 220px;
    margin-left: 200px;
}