<nav class="navbar navbar-expand-lg navbar-default fixed-on-top">
    <div class="container">
        <div class="navbar-translate" *ngIf="isMenuAble()"> 
            <a class="navbar-brand" href="#">LIBRAS</a>
            <a class="navbar-brand" href="#/calendar" *ngIf="!isTeacher()">Sala de aula</a>
            <a class="navbar-brand" href="#/class" *ngIf="isTeacher()">Editor de Aulas</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto" *ngIf="isMenuAble()">
                <!-- <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="#"
                        target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">Libras</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="#/calendar"
                        target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">Aulas</p>
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom"
                        href="https://www.github.com/pedrorafa/libras" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>