<div class="wrapper">
  <div class="section" style="background-color: chocolate">
    <div class="container">
      <div class="row class-list">
        <div *ngFor="let class of classes" class="class-box">
          <div class="card" (click)="play(class)">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h4 class="card-title">
                {{class.Title}} - {{class.ClassDate | date:'dd/MM'}}
              </h4>
              <div class="card-text">
                <div class="row" style="text-align: right;">
                  <p> {{class.Duration}} min </p>
                </div>
                <div class="row">
                  {{class.Description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>